.App {
  font: 1em sans-serif;
  position: absolute;
  top: 14%;
  left: 25%;
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  border-radius: 16px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.App input {
  background: rgb(112, 47, 233);
  border: 1.5px solid;
  border-color: rgb(204, 142, 240);
  color: rgb(255, 255, 255);
  width: 287px;
  margin-top: 20px;
  padding: 5px;
}

.App h1 {
  background: rgb(112, 47, 233);
  border-color: rgb(204, 142, 240);
  color: #fff;
  font-size: large;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 5px;
  width: 588px;
}

.App h2 {
  margin: 0;
  padding: 8px;
  background-color: rgb(79, 32, 167);
  color: rgb(255, 255, 255);
}

.btnUl ul {
  background-color: rgb(231, 231, 231);
  overflow: scroll;
  margin: 0;
  margin-left: 50px;
  height: 200px;
  width: 560px;
}

.btnUl button {
  background-color: darkorchid;
  color: white;
  border: 0;
  padding: 8px;
  width: 599px;
  box-shadow: 0 8px 16px 0
  rgba(0, 0, 0, 0.2), 0 6px 20px 0
  rgba(0, 0, 0, 0.12);
}

.btns button{
  background-color: darkorchid;
  color: white;
  border: 0;
  padding: 8px;
  width: 150px;
  box-shadow: 0 8px 16px 0
  rgba(0, 0, 0, 0.2), 0 6px 20px 0
  rgba(0, 0, 0, 0.12);
}
